:host {
  > div {
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
    }

    @media all and (min-width: 900px) {
      app-shopping-items + app-shopping-cart {
        padding-left: 10px;
      }
    }

    @media all and (max-width: 900px) {
      flex-direction: column-reverse;

      app-shopping-cart + app-shopping-items {
        padding-top: 10px;
      }
    }
  }
}
